{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
            <form action="" method="post" class="form w-50">
                {% csrf_token %}
                <div class="my-3">
                    <h1>do u want to delete</h1>
                </div>
                <div class="my-3">
                    <button class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}