<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
   

    
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Popular Links
          </h6>
          <p>
            <a href="#!" class="text-reset">X90 Pro</a>
          </p>
          <p>
            <a href="#!" class="text-reset">X90 </a>
          </p>
          <p>
            <a href="#!" class="text-reset">V29 Pro</a>
          </p>
          <p>
            <a href="#!" class="text-reset">V29 </a>
          </p>
          <p>
            <a href="#!" class="text-reset">All Models </a>
          </p>
          <p>
            <a href="#!" class="text-reset">Enterprise sales</a>
          </p>
          <p>
            <a href="#!" class="text-reset">vivo Exclusive store</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            About vivo
          </h6>
          <p>
            <a href="#!" class="text-reset">India Impact Report
            </a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Purchase Online

          </h6>
          <p>
            <a href="#!" class="text-reset">E-store</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Buy phones
            </a>
          </p>
          <p>
            <a href="#!" class="text-reset">Buy accessories</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Privacy Terms for E-Store</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Support
          </h6>
          <p>
            <a href="#!" class="text-reset">FAQs</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Service Center</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Funtouch OS</a>
          </p>
          <p>
            <a href="#!" class="text-reset">IMEI Authentication
            </a>
          </p>
          <p>
            <a href="#!" class="text-reset">Write to CEO
            </a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          
          
          <p><img src="../static/images/chat.svg" alt=""><i class="fas fa-print me-3"></i>Chat With Us</p>
          <p><img src="../static/images/email.svg" alt=""><i class="fas fa-print me-3"></i>Email Us(Replay in 24h)</p>
          
          <p><img src="../static/images/call.svg" alt=""><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><img src="../static/images/call.svg" alt=""><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          <p><img src="../static/images/call.svg" alt=""><i class="fas fa-print me-3"></i> + 01 234 567 89</p>

          <p><img src="" alt=""><i class="fas fa-print me-3"></i> Follow Us</p>
          
            <div class="image"><img src="../static/images/facebok.png" width="25px" alt="">
              <img src="../static/images/insta.png" width="25px" alt="">
              <img src="../static/images/youtube.png" width="20px" alt="">
              <img src="../static/images/Twitter.png" width="20px" alt="">
              <img src="../static/images/inicon.png" width="15px" alt=""></div>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 vivo Mobile India Pvt Ltd. All rights reserved. | Privacy Policy | Cookie Policy | Warranty Terms | Privacy Support:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"></a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->





